

a {
    text-decoration: none;
}

.btn {
    width: 100px;
    height: 50px;
    align-content: center;
    text-align: center;
    font-weight: bold;
}

.btn-orange {
    background: #ff9900;
    color: black;
}

.btn-orange:hover {
    background: #e58900;
    color: black;
}

.btn-orange:active {
    background: #cc7a00;
    color: black;
}

.btn-cyan {
    background: #19e5c3;
    color: black;
}

.btn-cyan:hover {
    background: #32ccb2;
    color: white;
}

.btn-cyan:active {
    background: #3fbfa9;
}

